@import "tailwindcss";

body {
  font-family: "Satoshi", sans-serif;
}

@font-face {
  /* Config file sathe match karva mate 'IntegralCF' rakho */
  font-family: "IntegralCF";
  src: url("./assets/fonts/Fontspring-DEMO-integralcf-boldoblique.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

.mySwiper .swiper-pagination {
  bottom: 0px !important;
}

